Esta es una prueba de codigo con  input

In [ ]:
# -solo es un ejercicio de espaiado 
if 5 > 2: 
    print ("Five is greater than two!")

Five is greater than two!

In [ ]:
x, y, z = "perro", "gato", "raton"  #asignacion multiples variable en una sola linea 
print(x)
print(y)    
print(z)

perro
gato
raton

In [6]:
frutas = ["manzana", "banana", "cereza"] #lista 
x, y, z = frutas  #asignacion multiple con listas
print(x)

manzana

In [7]:
x = "Python"
y = "es"
z = "sencillo"
print(x, y, z)

Python es sencillo

In [10]:
x = "Python"
y = "es"
z = "sencillo"
print(x + y + z)

a = "Python "
b = "es "
c = "sencillo"
print(a + b + c)

Pythonessencillo
Python es sencillo

In [11]:
x = 6
y = 3
print(x + y)

9

In [ ]:
x = "Gato"
y = 72584   
z = 3.5
w = True
print(type(x))
print(type(y))
print(type(z))
print(type(w))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [13]:
x = "Gato"
y = 72584   
z = 3.5
w = True
print (x, y, z, w)

Gato 72584 3.5 True

In [2]:
# funcion sencilla de python

x = 72584
def myFunction():
  print( "codigo funte, Numero Razo", x)

myFunction()

codigo funte, Numero Razo 72584

In [ ]:
X = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is " + x)#local variable
myfunc()

print("Python is " + X) #global variable

Python is fantastic
Python is awesome

In [20]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [6]:
nombre = ["ana", "juan", "luis", "maria", "carlos", "sofia", "jose", "laura"]
print(nombre[-4])   
print(nombre[0])
print(nombre[2:5])
print(nombre[1:4])
print(nombre[:4])
print(nombre[3:])
print(nombre)

carlos
ana
['luis', 'maria', 'carlos']
['juan', 'luis', 'maria']
['ana', 'juan', 'luis', 'maria']
['maria', 'carlos', 'sofia', 'jose', 'laura']
['ana', 'juan', 'luis', 'maria', 'carlos', 'sofia', 'jose', 'laura']

In [7]:
temperatura = [20.5, 22.3, 19.8, 21.0, 23.5, 20.0]
print(temperatura)
temperatura.append(24.1)  #agregar un elemento al final de la lista
print(temperatura)
temperatura.insert(2, 18.5) #insertar un elemento en una posicion
print(temperatura)
temperatura.remove(19.8) #eliminar un elemento por valor
print(temperatura)
temperatura.pop() #eliminar el ultimo elemento
print(temperatura)
print(temperatura.index(22.3)) #buscar el indice de un elemento
print(temperatura.count(20.5)) #contar cuantas veces aparece un elemento

[20.5, 22.3, 19.8, 21.0, 23.5, 20.0]
[20.5, 22.3, 19.8, 21.0, 23.5, 20.0, 24.1]
[20.5, 22.3, 18.5, 19.8, 21.0, 23.5, 20.0, 24.1]
[20.5, 22.3, 18.5, 21.0, 23.5, 20.0, 24.1]
[20.5, 22.3, 18.5, 21.0, 23.5, 20.0]
1
1

In [10]:
animal = ["perro", "gato", "raton"]
print(animal)
animal[1] = "conejo"  #modificar un elemento de la lista
print(animal)

animales =("perro", "gato", "raton") #tupla
print(animales)
#animales[1] = "conejo"  #no se puede modificar una tupla

['perro', 'gato', 'raton']
['perro', 'conejo', 'raton']
('perro', 'gato', 'raton')

In [ ]:
#diccionarios
persona = {
  "nombre": "Juan", #key value
  "edad": 30,
  "ciudad": "Madrid"
}

print(persona)
print(persona["nombre"])
print(persona["edad"])

{'nombre': 'Juan', 'edad': 30, 'ciudad': 'Madrid'}
Juan
30

In [1]:
#lista dentro de un diccionario
persona = {
  "nombre": ["Juan", "Ana", "Luis"],
  "edad": [30, 25, 28],
  "ciudad": ["Madrid", "Barcelona", "Valencia"],
  "hobbies": ["futbol", "musica", "cine"]
}
print(persona)
print(persona["nombre"])

{'nombre': ['Juan', 'Ana', 'Luis'], 'edad': [30, 25, 28], 'ciudad': ['Madrid', 'Barcelona', 'Valencia'], 'hobbies': ['futbol', 'musica', 'cine']}
['Juan', 'Ana', 'Luis']

In [14]:
myList = [5, 10, 15, 20, 25]
print(myList)
myList[2] = 35  #modificar un elemento de la lista
print(myList)

myList.append(72584)
print(myList)
size = len(myList)
print(size)

position = myList.index(72584)
print(position)

myList.sort()
print(myList)

[5, 10, 15, 20, 25]
[5, 10, 35, 20, 25]
[5, 10, 35, 20, 25, 72584]
6
5
[5, 10, 20, 25, 35, 72584]

In [ ]:
#codigo bidimencional

personas = [["Jonier", "ingeniero", "32"],["Steven", "ingeniero", "32"]]
print(personas)
print(personas[1])
print(personas[1][0])

print(type(personas))
print(len(personas))
print(len(personas[1]))

len(personas) # puedo imprimer sin necesidad de usar print

[['Jonier', 'ingeniero', '32'], ['Steven', 'ingeniero', '32']]
['Steven', 'ingeniero', '32']
Steven
<class 'list'>
2
3

2

In [26]:
#ejercicio con tuplas 
tupla = (5, 10, 15, 20, 25)
print(tupla)

tuplaBi = (
    (5, 10, 15), 
    (20, 25, 30), 
    (35, 40, 45), 
    (50, 55, 60)
    )

print(tuplaBi)
print(tuplaBi[2])
print(tuplaBi[2][1])

(5, 10, 15, 20, 25)
((5, 10, 15), (20, 25, 30), (35, 40, 45), (50, 55, 60))
(35, 40, 45)
40