In [24]:

import pandas as pd
from sqlalchemy import create_engine
import pymysql

In [25]:
path_excel = "https://docs.google.com/spreadsheets/d/1_IHJRcC3o09p49Khq5PIqq63tWRe8iU3EzWGDZPnQ5c/export?format=xlsx"
df_estudiantes = pd.read_excel(path_excel, sheet_name = "estudiantes")
df_asignaturas = pd.read_excel(path_excel, sheet_name = "asignaturas")   
print(df_estudiantes)
print(df_asignaturas)

     id              nombre  id_asignatura     fecha_nacimiento
0  1020              daniel           2010           1997-09-19
1  1030               david           2020           1997-11-29
2  1040               clara           2030           1998-01-19
3  1050           alejandro           2040           2007-05-30
4  1060              sergio           2050           2008-02-15
5  1070                 ana           2060           2009-04-10
6  1080              liseth           2070           1999-02-21
7  1090             lorenzo           2080           1999-02-03
8  1100  Roger Mona Carmona           2090           1990-07-27
9  1110              Johana           3000           1998-07-13
   id_asignatura     asignatura      docente
0           2010           mate       pedro
1           2020       ciencias  alex ocampo
2           2030        calculo       pedro
3           2040    econometria  Jorge Ortiz
4           2050         fisica      sara gu
5           2060    estadistica  Jorge Ortiz
6           2070       economia      sara gu
7           2080  microeconomia  Jorge Ortiz
8           2090  macroeconomia  Jorge Ortiz
9           3000       analisis      sara gu

In [28]:
engine = create_engine("mysql+pymysql://root:1234@localhost:3306/universidad")
query = "select * FROM estudiantes"
table_estudiantes = pd.read_sql(query, con=engine)
print(table_estudiantes)

Empty DataFrame
Columns: [id, nombre, id_asignatura, fecha_nacimiento]
Index: []

***forma corta de ingresar datos de de excel a mysql***

In [ ]:
df_estudiantes.to_sql("estudiantes", con=engine, if_exists='replace', index=False)

10

In [35]:
for i in range(len(df_asignaturas)):
    registro= df_asignaturas.loc[i]
    data_asignatura= str(registro["id_asignatura"]) + "," +registro["asignatura"] + "," + registro["docente"]
    print(data_asignatura)

2010,mate,pedro
2020,ciencias,alex ocampo
2030,calculo,pedro
2040,econometria,Jorge Ortiz
2050,fisica,sara gu
2060,estadistica,Jorge Ortiz
2070,economia,sara gu
2080,microeconomia,Jorge Ortiz
2090,macroeconomia,Jorge Ortiz
3000,analisis,sara gu