<h3>Creación de un diccionario "data" para aplicar algunas funciones</h3>

In [40]:
import pandas as pd

data = {
    "producto":["manzanas", "peras", "banana","narajas"],
    "precio": [2.5, 3.0, 1.8, 2.2],
    "cantida_vendida": [100,150,200,80],
    "mes":["enero","enero","febrero","febrero"]
}

df_data =pd.DataFrame(data)
print(df_data)

   producto  precio  cantida_vendida      mes
0  manzanas     2.5              100    enero
1     peras     3.0              150    enero
2    banana     1.8              200  febrero
3   narajas     2.2               80  febrero

<h3>Usamos la función "agg" para usar varios metodos en una linea de codigo</h3>
<h4>En este caso usamos (mean),(max) aplicadas a la columna "precio" y (sum) para la columna"cantida_vendida"</h4>

In [41]:
df_data.agg({"precio": ["mean", "max"],"cantida_vendida": "sum"})

      precio  cantida_vendida
mean   2.375              NaN
max    3.000              NaN
sum      NaN            530.0

<h3>Aqui filtramos los registros relacionados a "enero" en la columna "mes"</h3>

In [42]:
df_data = df_data[df_data["mes"]=="enero"]
print(df_data)

   producto  precio  cantida_vendida    mes
0  manzanas     2.5              100  enero
1     peras     3.0              150  enero

<h3>Aqui imprimimos las columnas "productos" y "cantida_vendida" </h3>
<h4>lo asignamos a una nueva variable df_data2 para no afectar el ejercicio que sigue</h4>

In [43]:
df_data2 = df_data[["producto","cantida_vendida"]] #solo se asigno en este ejercicio para no afectar los otros.
print(df_data2)

   producto  cantida_vendida
0  manzanas              100
1     peras              150

<h3>Aqui incrementamos el precio en un 10%</h3>

In [44]:
df_data["precio"] = df_data["precio"] * 1.1
print(df_data)

   producto  precio  cantida_vendida    mes
0  manzanas    2.75              100  enero
1     peras    3.30              150  enero

<h3>Aqui creamos un nuevo diccionario "nuevo_data" para practicar otros metodos y funciones </h3>

In [45]:
nuevo_data = {
    "producto":["manzanas", None, "banana","narajas","manzanas"],
    "precio": [2.5, None, 1.8, 2.2,2.5],
    "cantida_vendida": [100,150,200,80,100],
    "mes":["enero","enero","febrero",None,"enero"]
}

df_nuevo_data =pd.DataFrame(nuevo_data)
print(df_nuevo_data)

   producto  precio  cantida_vendida      mes
0  manzanas     2.5              100    enero
1      None     NaN              150    enero
2    banana     1.8              200  febrero
3   narajas     2.2               80     None
4  manzanas     2.5              100    enero

<h3>aplicamos el metodo "isnull" para validar que registros son nulos y con (sum) para saber la cantidad de nulos</h3>

In [46]:
print(df_nuevo_data.isnull())
print(df_nuevo_data.isnull().sum())

   producto  precio  cantida_vendida    mes
0     False   False            False  False
1      True    True            False  False
2     False   False            False  False
3     False   False            False   True
4     False   False            False  False
producto           1
precio             1
cantida_vendida    0
mes                1
dtype: int64

<h3>aplicamos la función "notnull" que es lo contrario del "isnull" para validar que registros no son nulos </h3>

In [47]:
print(df_nuevo_data.notnull())

   producto  precio  cantida_vendida    mes
0      True    True             True   True
1     False   False             True   True
2      True    True             True   True
3      True    True             True  False
4      True    True             True   True

<h3>aplicamos la función "duplicated" para validar que registros estan duplicados y con (sum) para saber la cantidad de registros duplicados</h3>

In [48]:
print(df_nuevo_data.duplicated())
print(df_nuevo_data.duplicated().sum())

0    False
1    False
2    False
3    False
4     True
dtype: bool
1

<h3>aplicamos la función "drop_duplicates" para eliminar registros duplicados</h3>

In [49]:
print(df_nuevo_data.drop_duplicates())

   producto  precio  cantida_vendida      mes
0  manzanas     2.5              100    enero
1      None     NaN              150    enero
2    banana     1.8              200  febrero
3   narajas     2.2               80     None

<h3>Aqui creamos un nuevo diccionario "example_dupli" para validar una caracteristica de la función "drop_duplicates"</h3>

In [50]:
example_dupli = {
    "nombres":["jonier", "julian", "francisco","nataly"],
    "cedula": [1018, 5042,2015,5042]  
}

df_example_dupli =pd.DataFrame(example_dupli)
print(df_example_dupli)

     nombres  cedula
0     jonier    1018
1     julian    5042
2  francisco    2015
3     nataly    5042

<h4>En el diccionario example_dupli no tenemos registros duplicados, solo tenemos un campo duplicado en la columna cedula y para poder eleminar el duplicado de ese campo usaremos el parametro (subset)</h4>

In [51]:
df_example_dupli = df_example_dupli.drop_duplicates() #no eliminaria nada ya que no tenemos registros duplicados 
print(df_example_dupli)
print("-------------------------------------------------")
df_example_dupli = df_example_dupli.drop_duplicates(subset="cedula") # con el parametro subset eliminaria el duplicado
print(df_example_dupli)

     nombres  cedula
0     jonier    1018
1     julian    5042
2  francisco    2015
3     nataly    5042
-------------------------------------------------
     nombres  cedula
0     jonier    1018
1     julian    5042
2  francisco    2015

<h3>Aqui creamos 3 nuevos diccionarios para practicar diferentes funciones y metodos para unir tablas de diferentes formas</h3>

In [52]:
nombre_1 ={
    "nombre":["jonier", "julian", "francisco","nataly"],
    "apellido":["porras","rodriguez","parra","ortiz"],
    "id":[4020,5009,1010,1085]
}

nombre_2 ={
    "nombre":["pedro", "fredy", "miguel","sara"],
    "apellido":["ariza","fernandez","alfonso","perez"]
}

numeros_1 ={
    "cedula":[1018,4020,5009,1058,5210],
    "edad":[32,45,26,58,65],
    "id":[4020,5009,1010,1085,2010]
}

df_nombre_1 = pd.DataFrame(nombre_1)
df_nombre_2 = pd.DataFrame(nombre_2)
df_numeros_1 = pd.DataFrame(numeros_1)

print(df_nombre_1)
print("-------------------------------------------------")
print(df_nombre_2)
print("-------------------------------------------------")
print(df_numeros_1)

      nombre   apellido    id
0     jonier     porras  4020
1     julian  rodriguez  5009
2  francisco      parra  1010
3     nataly      ortiz  1085
-------------------------------------------------
   nombre   apellido
0   pedro      ariza
1   fredy  fernandez
2  miguel    alfonso
3    sara      perez
-------------------------------------------------
   cedula  edad    id
0    1018    32  4020
1    4020    45  5009
2    5009    26  1010
3    1058    58  1085
4    5210    65  2010

<h3>Aqui usamos la función "concat" para concatenar primero los dos diccionarios y luego los 3 diccionarios de forma vertical</h3>

In [53]:
print(pd.concat([df_nombre_1,df_nombre_2,df_numeros_1]))
print("-------------------------------------------------")
print(pd.concat([df_nombre_1,df_nombre_2]))

      nombre   apellido      id  cedula  edad
0     jonier     porras  4020.0     NaN   NaN
1     julian  rodriguez  5009.0     NaN   NaN
2  francisco      parra  1010.0     NaN   NaN
3     nataly      ortiz  1085.0     NaN   NaN
0      pedro      ariza     NaN     NaN   NaN
1      fredy  fernandez     NaN     NaN   NaN
2     miguel    alfonso     NaN     NaN   NaN
3       sara      perez     NaN     NaN   NaN
0        NaN        NaN  4020.0  1018.0  32.0
1        NaN        NaN  5009.0  4020.0  45.0
2        NaN        NaN  1010.0  5009.0  26.0
3        NaN        NaN  1085.0  1058.0  58.0
4        NaN        NaN  2010.0  5210.0  65.0
-------------------------------------------------
      nombre   apellido      id
0     jonier     porras  4020.0
1     julian  rodriguez  5009.0
2  francisco      parra  1010.0
3     nataly      ortiz  1085.0
0      pedro      ariza     NaN
1      fredy  fernandez     NaN
2     miguel    alfonso     NaN
3       sara      perez     NaN

<h3>aqui usamos la función "join" para la unión de diccionarios indicando con el parametro "how=" cual se unira a cual </h3>

In [57]:
#df_final_1 = df_nombre_1.join(df_numeros_1, how="left")
#print(df_final_1)
print("------------------------------------------------------------------------")
print("Este codigo quedo comentado porque interfiere con los otros ejercicios")
print("------------------------------------------------------------------------")
#df_final_2 = df_nombre_1.join(df_numeros_1, how="right")
#print(df_final_2)

------------------------------------------------------------------------
Este codigo quedo comentado porque interfiere con los otros ejercicios
------------------------------------------------------------------------

<h3>Aquí usamos el metodo "merge" para unir los dicionarios por medio del parametro "on=" el cual le indicamos una columna en general una primary key "id" que nos ayudara como factor comun para unir los dos diccionarios</h3>

In [59]:
df_final_3 = df_nombre_1.merge(df_numeros_1, on="id") #en este caso la union queda de forma horizontal 
print(df_final_3)

      nombre   apellido    id  cedula  edad
0     jonier     porras  4020    1018    32
1     julian  rodriguez  5009    4020    45
2  francisco      parra  1010    5009    26
3     nataly      ortiz  1085    1058    58

<h3>finalmente usamos el "metodo replace" para poder remplazar algunos valores en este caso de las columnas "apellido" y "nombre"</h3>

In [60]:
df_nombre_1["apellido"].replace({"ortiz": "aguilar"},inplace=True)
df_nombre_1["nombre"].replace({"francisco": "jenny"},inplace=True)

print(df_nombre_1)

   nombre   apellido    id
0  jonier     porras  4020
1  julian  rodriguez  5009
2   jenny      parra  1010
3  nataly    aguilar  1085

C:\Users\ariza\AppData\Local\Temp\ipykernel_10980\3484168522.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_nombre_1["apellido"].replace({"ortiz": "aguilar"},inplace=True)
C:\Users\ariza\AppData\Local\Temp\ipykernel_10980\3484168522.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_nombre_1["nombre"].replace({"francisco": "jenny"},inplace=True)