In [93]:
import requests
import pandas as pd
from sqlalchemy import create_engine

In [94]:
conexion = create_engine("mysql+pymysql://root:1234@localhost:3306/economia")

def save_dataframe(df_nuevo_2, tabla_pib):
    df_nuevo_2.to_sql(
        name = tabla_pib,
        con = conexion,
        if_exists ="replace",
        index = False, 
    )

In [95]:
indicator = "NY.GDP.PCAP.CD"
año_inicio = 2005
año_final = 2024

url =f"http://api.worldbank.org/v2/country/all/indicator/{indicator}?date={año_inicio}:{año_final}&format=json&per_page=10000"

resp = requests.get(url)
data = resp.json()
my_data = data[1]
df =pd.json_normalize(my_data)
print(df.info)
print(df.describe)

df.to_excel('Ejercicio_32_1.xlsx')

<bound method DataFrame.info of      countryiso3code  date        value unit obs_status  decimal  \
0                AFE  2024  1567.635839                        1
1                AFE  2023  1510.742951                        1
2                AFE  2022  1628.318944                        1
3                AFE  2021  1522.393346                        1
4                AFE  2020  1344.103210                        1
...              ...   ...          ...  ...        ...      ...
5315             ZWE  2009   735.446249                        1
5316             ZWE  2008   340.740210                        1
5317             ZWE  2007   413.302605                        1
5318             ZWE  2006   430.809214                        1
5319             ZWE  2005   461.028318                        1

        indicator.id               indicator.value country.id  \
0     NY.GDP.PCAP.CD  GDP per capita (current US$)         ZH
1     NY.GDP.PCAP.CD  GDP per capita (current US$)         ZH
2     NY.GDP.PCAP.CD  GDP per capita (current US$)         ZH
3     NY.GDP.PCAP.CD  GDP per capita (current US$)         ZH
4     NY.GDP.PCAP.CD  GDP per capita (current US$)         ZH
...              ...                           ...        ...
5315  NY.GDP.PCAP.CD  GDP per capita (current US$)         ZW
5316  NY.GDP.PCAP.CD  GDP per capita (current US$)         ZW
5317  NY.GDP.PCAP.CD  GDP per capita (current US$)         ZW
5318  NY.GDP.PCAP.CD  GDP per capita (current US$)         ZW
5319  NY.GDP.PCAP.CD  GDP per capita (current US$)         ZW

                    country.value
0     Africa Eastern and Southern
1     Africa Eastern and Southern
2     Africa Eastern and Southern
3     Africa Eastern and Southern
4     Africa Eastern and Southern
...                           ...
5315                     Zimbabwe
5316                     Zimbabwe
5317                     Zimbabwe
5318                     Zimbabwe
5319                     Zimbabwe

[5320 rows x 10 columns]>
<bound method NDFrame.describe of      countryiso3code  date        value unit obs_status  decimal  \
0                AFE  2024  1567.635839                        1
1                AFE  2023  1510.742951                        1
2                AFE  2022  1628.318944                        1
3                AFE  2021  1522.393346                        1
4                AFE  2020  1344.103210                        1
...              ...   ...          ...  ...        ...      ...
5315             ZWE  2009   735.446249                        1
5316             ZWE  2008   340.740210                        1
5317             ZWE  2007   413.302605                        1
5318             ZWE  2006   430.809214                        1
5319             ZWE  2005   461.028318                        1

        indicator.id               indicator.value country.id  \
0     NY.GDP.PCAP.CD  GDP per capita (current US$)         ZH
1     NY.GDP.PCAP.CD  GDP per capita (current US$)         ZH
2     NY.GDP.PCAP.CD  GDP per capita (current US$)         ZH
3     NY.GDP.PCAP.CD  GDP per capita (current US$)         ZH
4     NY.GDP.PCAP.CD  GDP per capita (current US$)         ZH
...              ...                           ...        ...
5315  NY.GDP.PCAP.CD  GDP per capita (current US$)         ZW
5316  NY.GDP.PCAP.CD  GDP per capita (current US$)         ZW
5317  NY.GDP.PCAP.CD  GDP per capita (current US$)         ZW
5318  NY.GDP.PCAP.CD  GDP per capita (current US$)         ZW
5319  NY.GDP.PCAP.CD  GDP per capita (current US$)         ZW

                    country.value
0     Africa Eastern and Southern
1     Africa Eastern and Southern
2     Africa Eastern and Southern
3     Africa Eastern and Southern
4     Africa Eastern and Southern
...                           ...
5315                     Zimbabwe
5316                     Zimbabwe
5317                     Zimbabwe
5318                     Zimbabwe
5319                     Zimbabwe

[5320 rows x 10 columns]>

In [96]:
df.rename( columns={"countryiso3code":"codigo"},inplace=True)
df.rename( columns={"date":"año"},inplace=True)
df.rename( columns={"value":"pib"},inplace=True)
df.rename( columns={"country.value":"pais"},inplace=True)
df.head()

,codigo,año,pib,unit,obs_status,decimal,indicator.id,indicator.value,country.id,pais
0,AFE,2024,1567.635839,,,1,NY.GDP.PCAP.CD,GDP per capita (current US$),ZH,Africa Eastern and Southern
1,AFE,2023,1510.742951,,,1,NY.GDP.PCAP.CD,GDP per capita (current US$),ZH,Africa Eastern and Southern
2,AFE,2022,1628.318944,,,1,NY.GDP.PCAP.CD,GDP per capita (current US$),ZH,Africa Eastern and Southern
3,AFE,2021,1522.393346,,,1,NY.GDP.PCAP.CD,GDP per capita (current US$),ZH,Africa Eastern and Southern
4,AFE,2020,1344.103210,,,1,NY.GDP.PCAP.CD,GDP per capita (current US$),ZH,Africa Eastern and Southern

In [97]:
df_nuevo=df.drop(["unit","obs_status","decimal","indicator.id","indicator.value","country.id"], axis=1) # eliminamos columnas
df_nuevo.head()

  codigo   año          pib                         pais
0    AFE  2024  1567.635839  Africa Eastern and Southern
1    AFE  2023  1510.742951  Africa Eastern and Southern
2    AFE  2022  1628.318944  Africa Eastern and Southern
3    AFE  2021  1522.393346  Africa Eastern and Southern
4    AFE  2020  1344.103210  Africa Eastern and Southern

In [98]:
df_nuevo["año"].astype(int)
df_nuevo_1 = df_nuevo.groupby("pais")["pib"].mean()

df_nuevo_1.head()

pais
Afghanistan                     476.771159
Africa Eastern and Southern    1490.547755
Africa Western and Central     1664.067043
Albania                        5046.086297
Algeria                        4799.293791
Name: pib, dtype: float64

In [99]:
df_nuevo_2 = df_nuevo.merge(df_nuevo_1, on="pais")
df_nuevo_2.head(2)

  codigo   año        pib_x                         pais        pib_y
0    AFE  2024  1567.635839  Africa Eastern and Southern  1490.547755
1    AFE  2023  1510.742951  Africa Eastern and Southern  1490.547755

In [100]:
df_nuevo_2["pib_x"]= df_nuevo_2["pib_x"].fillna(df_nuevo_2["pib_y"])
df_nuevo_2.dropna(subset=["pib_x"], inplace=True)
df_nuevo_2.dropna(subset=["pib_y"], inplace=True)

print(df_nuevo_2)

     codigo   año        pib_x                         pais        pib_y
0       AFE  2024  1567.635839  Africa Eastern and Southern  1490.547755
1       AFE  2023  1510.742951  Africa Eastern and Southern  1490.547755
2       AFE  2022  1628.318944  Africa Eastern and Southern  1490.547755
3       AFE  2021  1522.393346  Africa Eastern and Southern  1490.547755
4       AFE  2020  1344.103210  Africa Eastern and Southern  1490.547755
...     ...   ...          ...                          ...          ...
5315    ZWE  2009   735.446249                     Zimbabwe  1439.937786
5316    ZWE  2008   340.740210                     Zimbabwe  1439.937786
5317    ZWE  2007   413.302605                     Zimbabwe  1439.937786
5318    ZWE  2006   430.809214                     Zimbabwe  1439.937786
5319    ZWE  2005   461.028318                     Zimbabwe  1439.937786

[5240 rows x 5 columns]

In [101]:
df_nuevo_2["pib_x"] = df_nuevo_2["pib_x"].astype(int)
df_nuevo_2["pib_y"] = df_nuevo_2["pib_y"].astype(int)
print(df_nuevo_2)

     codigo   año  pib_x                         pais  pib_y
0       AFE  2024   1567  Africa Eastern and Southern   1490
1       AFE  2023   1510  Africa Eastern and Southern   1490
2       AFE  2022   1628  Africa Eastern and Southern   1490
3       AFE  2021   1522  Africa Eastern and Southern   1490
4       AFE  2020   1344  Africa Eastern and Southern   1490
...     ...   ...    ...                          ...    ...
5315    ZWE  2009    735                     Zimbabwe   1439
5316    ZWE  2008    340                     Zimbabwe   1439
5317    ZWE  2007    413                     Zimbabwe   1439
5318    ZWE  2006    430                     Zimbabwe   1439
5319    ZWE  2005    461                     Zimbabwe   1439

[5240 rows x 5 columns]

In [102]:
df_nuevo_2=df_nuevo_2.sort_values(["año","pais"], ascending=False)
df_nuevo_2.to_excel('Ejercicio_32_2.xlsx')
print(df_nuevo_2)

     codigo   año  pib_x                         pais  pib_y
5300    ZWE  2024   2656                     Zimbabwe   1439
5280    ZMB  2024   1235                       Zambia   1327
5260    YEM  2024   1046                  Yemen, Rep.   1046
960     WLD  2024  13663                        World  10557
5240    PSE  2024   2592           West Bank and Gaza   2928
...     ...   ...    ...                          ...    ...
1039    DZA  2005   3233                      Algeria   4799
1019    ALB  2005   2741                      Albania   5046
39      AFW  2005   1001   Africa Western and Central   1664
19      AFE  2005   1115  Africa Eastern and Southern   1490
999     AFG  2005    254                  Afghanistan    476

[5240 rows x 5 columns]

In [103]:
df_nuevo_2.rename( columns={"pib_x":"pib"},inplace=True)
df_nuevo_2.rename( columns={"pib_y":"pib_prom"},inplace=True)
print(df_nuevo_2)

     codigo   año    pib                         pais  pib_prom
5300    ZWE  2024   2656                     Zimbabwe      1439
5280    ZMB  2024   1235                       Zambia      1327
5260    YEM  2024   1046                  Yemen, Rep.      1046
960     WLD  2024  13663                        World     10557
5240    PSE  2024   2592           West Bank and Gaza      2928
...     ...   ...    ...                          ...       ...
1039    DZA  2005   3233                      Algeria      4799
1019    ALB  2005   2741                      Albania      5046
39      AFW  2005   1001   Africa Western and Central      1664
19      AFE  2005   1115  Africa Eastern and Southern      1490
999     AFG  2005    254                  Afghanistan       476

[5240 rows x 5 columns]

In [104]:
df_pais = pd.read_excel(r"C:\Users\ANDAP\Downloads\poblacion_paises_2024.xlsx")
df_pais=df_pais.drop(["Unnamed: 0","Unnamed: 1"], axis=1)
print(df_pais)

                                 Pais      Poblacion
0                               India  1,450,935,791
1                               China  1,419,321,278
2            United States of America    345,426,571
3                           Indonesia    283,487,931
4                            Pakistan    251,269,164
..                                ...            ...
196                             Tonga        104.176
197  Saint Vincent and the Grenadines        100.616
198               Antigua and Barbuda         93.772
199      United States Virgin Islands         84.905
200                            Monaco         38.631

[201 rows x 2 columns]

In [ ]:
save_dataframe(df_nuevo_2, "tabla_pib")