In [73]:
import pandas as pd
from sqlalchemy import create_engine
from word2number_es import w2n

In [74]:
df = pd.read_excel(r"C:\Users\ANDAP\Downloads\usuarios_nulos.xlsx")
print(df.head(50))

    id     nombre              correo  edad  edad_doble
0    1        NaN   usuario1@mail.com  18.0        36.0
1    2   Usuario2   usuario2@mail.com  55.0       110.0
2    3   Usuario3   usuario3@mail.com  37.0        74.0
3    4   Usuario4   usuario4@mail.com  29.0        58.0
4    5   Usuario5   usuario5@mail.com  58.0       116.0
5    6   Usuario6   usuario6@mail.com  22.0        44.0
6    7   Usuario7   usuario7@mail.com  22.0        44.0
7    8   Usuario8   usuario8@mail.com  47.0        94.0
8    9   Usuario9   usuario9@mail.com  33.0        66.0
9   10  Usuario10  usuario10@mail.com  45.0        90.0
10  11        NaN  usuario11@mail.com  40.0        80.0
11  12  Usuario12  usuario12@mail.com  55.0       110.0
12  13  Usuario13  usuario13@mail.com  27.0        54.0
13  14  Usuario14  usuario14@mail.com  27.0        54.0
14  15  Usuario15  usuario15@mail.com  53.0       106.0
15  16  Usuario16                 NaN   NaN         NaN
16  17  Usuario17  usuario17@mail.com  27.0        54.0
17  18  Usuario18  usuario18@mail.com  60.0       120.0
18  19  Usuario19  usuario19@mail.com  27.0        54.0
19  20  Usuario20  usuario20@mail.com  58.0       116.0
20  21  Usuario21  usuario21@mail.com  39.0        78.0
21  22  Usuario22  usuario22@mail.com   NaN         NaN
22  23  Usuario23                 NaN  58.0       116.0
23  24  Usuario24  usuario24@mail.com  20.0        40.0
24  25  Usuario25  usuario25@mail.com  36.0        72.0
25  26  Usuario26  usuario26@mail.com  48.0        96.0
26  27  Usuario27  usuario27@mail.com  24.0        48.0
27  28  Usuario28  usuario28@mail.com  55.0       110.0
28  29  Usuario29  usuario29@mail.com  36.0        72.0
29  30        NaN  usuario30@mail.com  21.0        42.0
30  31  Usuario31  usuario31@mail.com  19.0        38.0
31  32  Usuario32  usuario32@mail.com  27.0        54.0
32  33  Usuario33  usuario33@mail.com  50.0       100.0
33  34  Usuario34  usuario34@mail.com  19.0        38.0
34  35  Usuario35  usuario35@mail.com   NaN         NaN
35  36  Usuario36  usuario36@mail.com  21.0        42.0
36  37  Usuario37  usuario37@mail.com  37.0        74.0
37  38  Usuario38  usuario38@mail.com  21.0        42.0
38  39  Usuario39  usuario39@mail.com  45.0        90.0
39  40  Usuario40                 NaN  54.0       108.0
40  41  Usuario41  usuario41@mail.com  37.0        74.0
41  42  Usuario42  usuario42@mail.com  32.0        64.0
42  43  Usuario43  usuario43@mail.com  26.0        52.0
43  44  Usuario44  usuario44@mail.com  36.0        72.0
44  45  Usuario45  usuario45@mail.com  43.0        86.0
45  46  Usuario46  usuario46@mail.com  55.0       110.0
46  47  Usuario47  usuario47@mail.com  22.0        44.0
47  48  Usuario48                 NaN  28.0        56.0
48  49  Usuario49  usuario49@mail.com  52.0       104.0
49  50  Usuario50  usuario50@mail.com  23.0        46.0

<h4>1. usuarios is null -> Elminar </h4>

In [75]:
#df.dropna(inplace=True)
df.dropna(subset=["nombre"], inplace=True)
print(df.head(50))

    id     nombre              correo  edad  edad_doble
1    2   Usuario2   usuario2@mail.com  55.0       110.0
2    3   Usuario3   usuario3@mail.com  37.0        74.0
3    4   Usuario4   usuario4@mail.com  29.0        58.0
4    5   Usuario5   usuario5@mail.com  58.0       116.0
5    6   Usuario6   usuario6@mail.com  22.0        44.0
6    7   Usuario7   usuario7@mail.com  22.0        44.0
7    8   Usuario8   usuario8@mail.com  47.0        94.0
8    9   Usuario9   usuario9@mail.com  33.0        66.0
9   10  Usuario10  usuario10@mail.com  45.0        90.0
11  12  Usuario12  usuario12@mail.com  55.0       110.0
12  13  Usuario13  usuario13@mail.com  27.0        54.0
13  14  Usuario14  usuario14@mail.com  27.0        54.0
14  15  Usuario15  usuario15@mail.com  53.0       106.0
15  16  Usuario16                 NaN   NaN         NaN
16  17  Usuario17  usuario17@mail.com  27.0        54.0
17  18  Usuario18  usuario18@mail.com  60.0       120.0
18  19  Usuario19  usuario19@mail.com  27.0        54.0
19  20  Usuario20  usuario20@mail.com  58.0       116.0
20  21  Usuario21  usuario21@mail.com  39.0        78.0
21  22  Usuario22  usuario22@mail.com   NaN         NaN
22  23  Usuario23                 NaN  58.0       116.0
23  24  Usuario24  usuario24@mail.com  20.0        40.0
24  25  Usuario25  usuario25@mail.com  36.0        72.0
25  26  Usuario26  usuario26@mail.com  48.0        96.0
26  27  Usuario27  usuario27@mail.com  24.0        48.0
27  28  Usuario28  usuario28@mail.com  55.0       110.0
28  29  Usuario29  usuario29@mail.com  36.0        72.0
30  31  Usuario31  usuario31@mail.com  19.0        38.0
31  32  Usuario32  usuario32@mail.com  27.0        54.0
32  33  Usuario33  usuario33@mail.com  50.0       100.0
33  34  Usuario34  usuario34@mail.com  19.0        38.0
34  35  Usuario35  usuario35@mail.com   NaN         NaN
35  36  Usuario36  usuario36@mail.com  21.0        42.0
36  37  Usuario37  usuario37@mail.com  37.0        74.0
37  38  Usuario38  usuario38@mail.com  21.0        42.0
38  39  Usuario39  usuario39@mail.com  45.0        90.0
39  40  Usuario40                 NaN  54.0       108.0
40  41  Usuario41  usuario41@mail.com  37.0        74.0
41  42  Usuario42  usuario42@mail.com  32.0        64.0
42  43  Usuario43  usuario43@mail.com  26.0        52.0
43  44  Usuario44  usuario44@mail.com  36.0        72.0
44  45  Usuario45  usuario45@mail.com  43.0        86.0
45  46  Usuario46  usuario46@mail.com  55.0       110.0
46  47  Usuario47  usuario47@mail.com  22.0        44.0
47  48  Usuario48                 NaN  28.0        56.0
48  49  Usuario49  usuario49@mail.com  52.0       104.0
49  50  Usuario50  usuario50@mail.com  23.0        46.0
50  51  Usuario51  usuario51@mail.com  27.0        54.0
51  52  Usuario52  usuario52@mail.com   NaN         NaN
52  53  Usuario53  usuario53@mail.com  47.0        94.0

<h4>2. edad_doble -> Elminar </h4>

In [76]:
df.drop(columns=["edad_doble"], inplace=True)
print(df)

       id       nombre                correo  edad
1       2     Usuario2     usuario2@mail.com  55.0
2       3     Usuario3     usuario3@mail.com  37.0
3       4     Usuario4     usuario4@mail.com  29.0
4       5     Usuario5     usuario5@mail.com  58.0
5       6     Usuario6     usuario6@mail.com  22.0
..    ...          ...                   ...   ...
995   996   Usuario996   usuario996@mail.com  34.0
996   997   Usuario997   usuario997@mail.com  31.0
997   998   Usuario998   usuario998@mail.com  29.0
998   999   Usuario999   usuario999@mail.com  31.0
999  1000  Usuario1000  usuario1000@mail.com  59.0

[950 rows x 4 columns]

<h4>3. dejar la columna nombres en mayuscula </h4>

In [77]:
df["nombre"] = df["nombre"].str.upper()
print(df.head(50))

    id     nombre              correo  edad
1    2   USUARIO2   usuario2@mail.com  55.0
2    3   USUARIO3   usuario3@mail.com  37.0
3    4   USUARIO4   usuario4@mail.com  29.0
4    5   USUARIO5   usuario5@mail.com  58.0
5    6   USUARIO6   usuario6@mail.com  22.0
6    7   USUARIO7   usuario7@mail.com  22.0
7    8   USUARIO8   usuario8@mail.com  47.0
8    9   USUARIO9   usuario9@mail.com  33.0
9   10  USUARIO10  usuario10@mail.com  45.0
11  12  USUARIO12  usuario12@mail.com  55.0
12  13  USUARIO13  usuario13@mail.com  27.0
13  14  USUARIO14  usuario14@mail.com  27.0
14  15  USUARIO15  usuario15@mail.com  53.0
15  16  USUARIO16                 NaN   NaN
16  17  USUARIO17  usuario17@mail.com  27.0
17  18  USUARIO18  usuario18@mail.com  60.0
18  19  USUARIO19  usuario19@mail.com  27.0
19  20  USUARIO20  usuario20@mail.com  58.0
20  21  USUARIO21  usuario21@mail.com  39.0
21  22  USUARIO22  usuario22@mail.com   NaN
22  23  USUARIO23                 NaN  58.0
23  24  USUARIO24  usuario24@mail.com  20.0
24  25  USUARIO25  usuario25@mail.com  36.0
25  26  USUARIO26  usuario26@mail.com  48.0
26  27  USUARIO27  usuario27@mail.com  24.0
27  28  USUARIO28  usuario28@mail.com  55.0
28  29  USUARIO29  usuario29@mail.com  36.0
30  31  USUARIO31  usuario31@mail.com  19.0
31  32  USUARIO32  usuario32@mail.com  27.0
32  33  USUARIO33  usuario33@mail.com  50.0
33  34  USUARIO34  usuario34@mail.com  19.0
34  35  USUARIO35  usuario35@mail.com   NaN
35  36  USUARIO36  usuario36@mail.com  21.0
36  37  USUARIO37  usuario37@mail.com  37.0
37  38  USUARIO38  usuario38@mail.com  21.0
38  39  USUARIO39  usuario39@mail.com  45.0
39  40  USUARIO40                 NaN  54.0
40  41  USUARIO41  usuario41@mail.com  37.0
41  42  USUARIO42  usuario42@mail.com  32.0
42  43  USUARIO43  usuario43@mail.com  26.0
43  44  USUARIO44  usuario44@mail.com  36.0
44  45  USUARIO45  usuario45@mail.com  43.0
45  46  USUARIO46  usuario46@mail.com  55.0
46  47  USUARIO47  usuario47@mail.com  22.0
47  48  USUARIO48                 NaN  28.0
48  49  USUARIO49  usuario49@mail.com  52.0
49  50  USUARIO50  usuario50@mail.com  23.0
50  51  USUARIO51  usuario51@mail.com  27.0
51  52  USUARIO52  usuario52@mail.com   NaN
52  53  USUARIO53  usuario53@mail.com  47.0

<h4>4. Nueva Columna si saber si es mayor de edad </h4>

In [78]:
def validar (data):
    if data >= 18:
        return "si"
    else:
        return "no"
    
df["edad"]=df["edad"].apply(validar)
print(df.head(50))

    id     nombre              correo edad
1    2   USUARIO2   usuario2@mail.com   si
2    3   USUARIO3   usuario3@mail.com   si
3    4   USUARIO4   usuario4@mail.com   si
4    5   USUARIO5   usuario5@mail.com   si
5    6   USUARIO6   usuario6@mail.com   si
6    7   USUARIO7   usuario7@mail.com   si
7    8   USUARIO8   usuario8@mail.com   si
8    9   USUARIO9   usuario9@mail.com   si
9   10  USUARIO10  usuario10@mail.com   si
11  12  USUARIO12  usuario12@mail.com   si
12  13  USUARIO13  usuario13@mail.com   si
13  14  USUARIO14  usuario14@mail.com   si
14  15  USUARIO15  usuario15@mail.com   si
15  16  USUARIO16                 NaN   no
16  17  USUARIO17  usuario17@mail.com   si
17  18  USUARIO18  usuario18@mail.com   si
18  19  USUARIO19  usuario19@mail.com   si
19  20  USUARIO20  usuario20@mail.com   si
20  21  USUARIO21  usuario21@mail.com   si
21  22  USUARIO22  usuario22@mail.com   no
22  23  USUARIO23                 NaN   si
23  24  USUARIO24  usuario24@mail.com   si
24  25  USUARIO25  usuario25@mail.com   si
25  26  USUARIO26  usuario26@mail.com   si
26  27  USUARIO27  usuario27@mail.com   si
27  28  USUARIO28  usuario28@mail.com   si
28  29  USUARIO29  usuario29@mail.com   si
30  31  USUARIO31  usuario31@mail.com   si
31  32  USUARIO32  usuario32@mail.com   si
32  33  USUARIO33  usuario33@mail.com   si
33  34  USUARIO34  usuario34@mail.com   si
34  35  USUARIO35  usuario35@mail.com   no
35  36  USUARIO36  usuario36@mail.com   si
36  37  USUARIO37  usuario37@mail.com   si
37  38  USUARIO38  usuario38@mail.com   si
38  39  USUARIO39  usuario39@mail.com   si
39  40  USUARIO40                 NaN   si
40  41  USUARIO41  usuario41@mail.com   si
41  42  USUARIO42  usuario42@mail.com   si
42  43  USUARIO43  usuario43@mail.com   si
43  44  USUARIO44  usuario44@mail.com   si
44  45  USUARIO45  usuario45@mail.com   si
45  46  USUARIO46  usuario46@mail.com   si
46  47  USUARIO47  usuario47@mail.com   si
47  48  USUARIO48                 NaN   si
48  49  USUARIO49  usuario49@mail.com   si
49  50  USUARIO50  usuario50@mail.com   si
50  51  USUARIO51  usuario51@mail.com   si
51  52  USUARIO52  usuario52@mail.com   no
52  53  USUARIO53  usuario53@mail.com   si

<h4>5. crea tabla en sql desde python </h4>

In [79]:
engine = create_engine("mysql+pymysql://root:1234@localhost:3306/usuarios")
df.to_sql('tabla_nueva', con=engine, if_exists='replace', index=False)

950