In [3]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:1234@localhost:3306/usuarios")
df = pd.read_sql("SELECT * FROM personas", con= engine)
df.loc[len(df)] = [3020,"david","ariza",34,"ingeniero"]
print(df)
df.to_sql("personas", con=engine, if_exists="replace", index=False)

   id_cc     nombre apellido  edad   profesion
0   1020    jenifer    lopez    10  estudiante
1   1021  alejandra    rocio    25   profesora
2   1022      mario  albeiro    50   conductor
3   1023        ana    maria    10  estudiante
4   3020      david    ariza    34   ingeniero

5