<h4 id="inicio">Dar click en los enlaces para ver el Ejemplo</h4>
<li><a href="#limpieza-nulos">Ir al ejemplo de limpieza de nulos</a></li>
<li><a href="#eliminar_duplicados">Ir al ejemplo de Eliminar Duplicados</a> </li>
<li><a href="#read_write">Ir al ejemplo de Leer y guardar un Excel, Csv, json Etc.</a></li>
<li><a href="#sql">Ir al ejemplo de Abrir un archivo SQL</a> </li>
<li><a href="#ins">Ir al ejemplo de inspeción (head, tail, shape, dtypes, info, describe)</a></li>
<li><a href="#">Ir al ejemplo de </a></li>
<li><a href="#">Ir al ejemplo de </a></li>
<li><a href="#">Ir al ejemplo de </a></li>
<li><a href="#">Ir al ejemplo de </a></li>
<li><a href="#">Ir al ejemplo de </a></li>

<h2 id="limpieza-nulos">Ejemplo: Limpieza de valores nulos</h2> 
<a href="#inicio">Ir al Inicio</a>

In [13]:
import pandas as pd

#DataFrame con valores nulos
data = {
    'Nombre': ['Ana', 'Luis', 'Carlos', None],
    'Edad': [23, None, 35, 29],
    'Ciudad': ['Bogotá', 'Medellín', None, 'Cali']
}

df = pd.DataFrame(data)

print("Antes de limpiar:")
print(df)
print("------------------------------------------------------------")
# Eliminar filas con valores nulos
df_limpio = df.dropna()

print("Después de limpiar:")
print(df_limpio)

Antes de limpiar:
   Nombre  Edad    Ciudad
0     Ana  23.0    Bogotá
1    Luis   NaN  Medellín
2  Carlos  35.0      None
3    None  29.0      Cali
------------------------------------------------------------
Después de limpiar:
  Nombre  Edad  Ciudad
0    Ana  23.0  Bogotá

<h2 id="eliminar_duplicados">Ejemplo: Eliminar Duplicados</h2> 
<a href="#inicio">Ir al Inicio</a>

In [14]:
import pandas as pd

data = {
    'Producto': ['Camisa', 'Camisa', 'Pantalón', 'Zapatos'],
    'Precio': [30000, 30000, 70000, 120000]
}

df = pd.DataFrame(data)

print("Antes:")
print(df)
print("------------------------------------------------------------")
# Eliminar duplicados
df_sin_duplicados = df.drop_duplicates()

print("Después:")
print(df_sin_duplicados)

Antes:
   Producto  Precio
0    Camisa   30000
1    Camisa   30000
2  Pantalón   70000
3   Zapatos  120000
------------------------------------------------------------
Después:
   Producto  Precio
0    Camisa   30000
2  Pantalón   70000
3   Zapatos  120000

<h2 id="read_write">Ejemplo: Leer y guardar un Excel, Csv, json.</h2> 
<a href="#inicio">Ir al Inicio</a>

* para leer el documento poner la extención del tipo de documento que se va a leer .Xlsx .Csv .Json

* Ejemplo para un documento tipo Excel
```
df_excel = pd.read_excel(r"C:\Users\ANDAP\Desktop\nombre_documento.xlsx") 
print(df_excel)
```
* guardar documento
```
df_excel.to_excel("nombre_documento.Xlsx")
```
* Ejemplo con un documento tipo Csv
```
df_csv = pd.read_csv(r"C:\Users\ANDAP\Desktop\nombre_documento.csv") 
print(df_csv)
```
* guardar documento
```
df_csv.to_excel("nombre_documento.csv")
```

<h2 id="sql">Ejemplo: Abrir un archivo SQL.</h2> 
<a href="#inicio">Ir al Inicio</a>

<h2 id="ins">Ejemplo: inspeción (head, tail, shape, dtypes, info, describe)</h2> 
<a href="#inicio">Ir al Inicio</a>

In [31]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', None)


data = {
    'Producto': ['Camisa S', 'Camisa M', 'Pantalón', 'Zapatos'],
    'Precio': [30000, 30000, 70000, 120000],
    'Cantidad': [30, 300, 70, 120],
    'Utilidad': [3000, 3000, 7000, 12000]
}

df_data = pd.DataFrame(data)
print("tabla normal")
print(df_data )

print("------------------------------------------------------------")
print("imprime los dos primeros registros")
print(df_data.head(2)) 
print("------------------------------------------------------------")
print("imprime los dos ultmos registros")
print(df_data.tail(2)) 
print("------------------------------------------------------------")
print("nos da las dimenciones de la tabla")
print(df_data.shape) 
print("------------------------------------------------------------")
print("nos da información estructural del DataFrame")
df_data.info()
print("------------------------------------------------------------")
print("nos da un pequeño resumen estadistico del DataFrame")
df_data.describe()

tabla normal
   Producto  Precio  Cantidad  Utilidad
0  Camisa S   30000        30      3000
1  Camisa M   30000       300      3000
2  Pantalón   70000        70      7000
3   Zapatos  120000       120     12000
------------------------------------------------------------
imprime los dos primeros registros
   Producto  Precio  Cantidad  Utilidad
0  Camisa S   30000        30      3000
1  Camisa M   30000       300      3000
------------------------------------------------------------
imprime los dos ultmos registros
   Producto  Precio  Cantidad  Utilidad
2  Pantalón   70000        70      7000
3   Zapatos  120000       120     12000
------------------------------------------------------------
nos da las dimenciones de la tabla
(4, 4)
------------------------------------------------------------
nos da información estructural del DataFrame
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Producto  4 non-null      object
 1   Precio    4 non-null      int64
 2   Cantidad  4 non-null      int64
 3   Utilidad  4 non-null      int64
dtypes: int64(3), object(1)
memory usage: 260.0+ bytes
------------------------------------------------------------
nos da un pequeño resumen estadistico del DataFrame

              Precio    Cantidad      Utilidad
count       4.000000    4.000000      4.000000
mean    62500.000000  130.000000   6250.000000
std     42720.018727  119.163753   4272.001873
min     30000.000000   30.000000   3000.000000
25%     30000.000000   60.000000   3000.000000
50%     50000.000000   95.000000   5000.000000
75%     82500.000000  165.000000   8250.000000
max    120000.000000  300.000000  12000.000000